@import "../variables.scss";

.family_tree {
   direction: ltr;
   flex: 1;

   * {
      direction: rtl;
   }

   .tn_content {
      height: 100%;
      width: 100%;
      transform: scale(1);

      &.clickable {
         cursor: pointer;
         transition: 0.1s;

         &:hover {
            transform: scale(1.1);
         }
      }
   }

   i {
      color: transparent;

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: rgb(195, 255, 195);
         box-shadow: 2px 2px 2px rgba(black, 0.3);
         border-radius: 10px;
      }

      &[style*="height: 1px;"]::after {
         height: 5px;
      }

      &[style*="width: 1px;"]::after {
         width: 5px;
      }
   }
}

.family_tree_node {
   .node_inner {
      all: unset;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      &.node_page {
         cursor: pointer;
      }

      .node_avatar {
         width: 100%;
         height: 100%;

         &.node_twinkle {
            animation: twinkle 1s infinite alternate ease-in-out;
         }

         &.male {
            border: 2px solid $light-blue;
         }

         &.female {
            border: 2px solid pink;
         }
      }

      .node_content {
         position: absolute;
         width: 100%;
         max-width: 120%;
         padding: 1%;
         top: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         background-color: rgba(white, 0.3);
         backdrop-filter: blur(5px);

         .name {
            font-weight: 700;
         }

         .dates {
            color: rgba($color: #000000, $alpha: 0.8);
         }

         .name,
         .dates {
            font-size: 1em;
            text-align: center;
         }
      }
   }
}
