@import "../variables.scss";

.image_gallery {
   width: min(98vw, 500px);
   aspect-ratio: 4/2;
   max-height: 100vh;

   &:hover {
      .image-gallery-index {
         opacity: 1;
      }
   }

   .image-gallery-content {
      width: 100%;
   }

   .control_button {
      transition: 300ms;
      &:hover {
         color: $light-blue;
         transform: scale(1.2);
      }

      &.play_button {
         float: left;
      }
   }

   .MuiSvgIcon-root {
      font-size: 2rem;
   }

   .image-gallery-image {
      object-fit: contain;
      aspect-ratio: 3/2;
   }
   .image-gallery-thumbnail-image {
      height: 80px;
      object-fit: cover;
   }

   .image-gallery-description {
      bottom: 0;
      padding: 15px 10px;
      width: 100%;
      height: max-content;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      font-size: 1.5rem;
   }

   .image-gallery-index {
      opacity: 0;
      font-size: 1.5rem;
      transition: 0.3s;
   }

   .image-gallery-icon {
      padding: 5px;
      top: auto;
      bottom: 10%;
      &:hover {
         color: $light-blue;
      }
   }

   .video_component_container {
      height: 100%;
      width: 100%;
   }
   .iframe_container {
      position: relative;
      width: 100%;
      height: 100%;

      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &:fullscreen {
      height: 100vh;
      width: 100vh;
      border: none;
      aspect-ratio: unset;

      .control_button {
         &:hover {
            color: $light-blue;
            transform: scale(1.2);
         }
         color: white;
      }

      .MuiSvgIcon-root {
         font-size: 3rem;
      }

      .image-gallery-content.fullscreen {
         height: 100%;
         width: 100%;
      }

      .image-gallery-image {
         height: 80vh;
         object-fit: contain;
      }
      .image-gallery-thumbnail-image {
         height: 10vh;
         object-fit: cover;
      }

      .image-gallery-description {
         font-size: 3rem;
      }
      .image-gallery-index {
         font-size: 3rem;
         opacity: 1;
      }
   }
}
