@import "../variables.scss";

.return_button {
   $background-color: rgba($deep-blue, 0.8);
   position: fixed;
   top: 5vh;
   color: $faded-blue;
   font-family: $main-font-family;
   background-color: $background-color;
   box-shadow: $shadow-elevation-low;
   font-size: 1.5rem;
   width: 10vw;
   margin-right: 2vw;

   &:hover {
      background: $background-color;
   }
}
