@import "../variables.scss";

.return_button {
   position: absolute;
   right: 1vw;
   top: 1vw;
   font-family: $main-font-family;
   color: white;
   background-color: transparent;
   backdrop-filter: blur(2px);
   box-shadow: none;
   font-size: 1.5rem;
   z-index: 1;
   border: 1px solid rgba(white, 0.4);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-weight: 600;
   border-radius: max(calc(10px - 1vw), 5px);

   &:hover {
      border-color: transparent;
   }

   .return_icon {
      position: relative;
      top: 0.1rem;
   }
}
