@import "../variables.scss";

.stories_page {
   overflow-y: scroll;
   display: flex;
   padding-top: 10vh;
   padding-bottom: 10vh;
   padding-right: 10vh;
   height: fit-content;
   flex-wrap: wrap;
   gap: 30px;

   .story_container {
      padding: 2vh;
      border-radius: 10px;
      border: 3px solid;
      display: flex;
      box-shadow: 0 6px 12px rgba(0,0,0,.1607843137254902);
      align-items: center;
   }

   .images {
      width: 40vh;
   }
   .one_photo {

    img{
        aspect-ratio: 1/1;
    }
   }

   .text_container {
      max-width: 20vw;
      font-size: 2.8vh;
      padding-left: 2vh;
      height: 100%;
      white-space: pre-wrap


   }

   .story_title {
      align-self: center;
      color: $gray-text;
      margin: 2vh 0 2vh 0;
   }
}
